# node_modules
node_modules

# MacOS desktop services store
.DS_Store

# Vuepress temp directory
.temp

# IDE Config
.idea

# Docs dist directory
vuepress

docs/.*/dist

docs/.*/public

# Log files
*.log

